<div class="grid">
  <!-- Fila 1: 3 cuadros -->
  <div class="col-12 sm:col-4 md:col-4 lg:col-4 xl:col-4">
    <div class="square"></div>
  </div>
  <div class="col-12 sm:col-4 md:col-4 lg:col-4 xl:col-4">
    <div class="square"></div>
  </div>
  <div class="col-12 sm:col-4 md:col-4 lg:col-4 xl:col-4">
    <div class="square"></div>
  </div>

  <!-- Fila 2: 4 cuadros -->
  <div class="col-12 sm:col-3 md:col-3 lg:col-3 xl:col-3">
    <div class="square"></div>
  </div>
  <div class="col-12 sm:col-3 md:col-3 lg:col-3 xl:col-3">
    <div class="square"></div>
  </div>
  <div class="col-12 sm:col-3 md:col-3 lg:col-3 xl:col-3">
    <div class="square"></div>
  </div>
  <div class="col-12 sm:col-3 md:col-3 lg:col-3 xl:col-3">
    <div class="square"></div>
  </div>

  <!-- Fila 3: 5 cuadros -->
  <div class="col-12 sm:col-2 md:col-2 lg:col-2 xl:col-2">
    <div class="square"></div>
  </div>
  <div class="col-12 sm:col-2 md:col-2 lg:col-2 xl:col-2">
    <div class="square"></div>
  </div>
  <div class="col-12 sm:col-2 md:col-2 lg:col-2 xl:col-2">
    <div class="square"></div>
  </div>
  <div class="col-12 sm:col-2 md:col-2 lg:col-2 xl:col-2">
    <div class="square"></div>
  </div>
  <div class="col-12 sm:col-2 md:col-2 lg:col-2 xl:col-2">
    <div class="square"></div>
  </div>

  <!-- Fila 4: 6 cuadros -->
  <div class="col-12 sm:col-2 md:col-2 lg:col-2 xl:col-2">
    <div class="square"></div>
  </div>
  <div class="col-12 sm:col-2 md:col-2 lg:col-2 xl:col-2">
    <div class="square"></div>
  </div>
  <div class="col-12 sm:col-2 md:col-2 lg:col-2 xl:col-2">
    <div class="square"></div>
  </div>
  <div class="col-12 sm:col-2 md:col-2 lg:col-2 xl:col-2">
    <div class="square"></div>
  </div>
  <div class="col-12 sm:col-2 md:col-2 lg:col-2 xl:col-2">
    <div class="square"></div>
  </div>
  <div class="col-12 sm:col-2 md:col-2 lg:col-2 xl:col-2">
    <div class="square"></div>
  </div>
</div>
