<h2>Matriz 3x3</h2>
  <div class="grid">
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">1</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">2</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">3</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">4</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">5</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">6</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">7</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">8</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-4"><div class="box">9</div></div>
  </div>
  <br>

  <h2>Matriz 4x4</h2>
  <div class="grid">
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">1</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">2</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">3</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">4</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">5</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">6</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">7</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">8</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">9</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">10</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">11</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">12</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">13</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">14</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">15</div></div>
    <div class="col-12 sm:col-6 md:col-4 lg:col-3 xl:col-3"><div class="box">16</div></div>
  </div>
  <br>

  <h2>Matriz 5x5</h2>
  <div class="grid-5x5">

    <div class="box">1</div>
    <div class="box">2</div>
    <div class="box">3</div>
    <div class="box">4</div>
    <div class="box">5</div>
  
    <div class="box">6</div>
    <div class="box">7</div>
    <div class="box">8</div>
    <div class="box">9</div>
    <div class="box">10</div>
  
    <div class="box">11</div>
    <div class="box">12</div>
    <div class="box">13</div>
    <div class="box">14</div>
    <div class="box">15</div>
  
    <div class="box">16</div>
    <div class="box">17</div>
    <div class="box">18</div>
    <div class="box">19</div>
    <div class="box">20</div>
  
    <div class="box">21</div>
    <div class="box">22</div>
    <div class="box">23</div>
    <div class="box">24</div>
    <div class="box">25</div>
  </div>
  <br>

  <h2>Matriz 6x6</h2>
  <div class="grid">

  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">1</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">2</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">3</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">4</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">5</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">6</div>
  </div>

  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">7</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">8</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">9</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">10</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">11</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">12</div>
  </div>

  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">13</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">14</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">15</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">16</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">17</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">18</div>
  </div>

  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">19</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">20</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">21</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">22</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">23</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">24</div>
  </div>

  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">25</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">26</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">27</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">28</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">29</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">30</div>
  </div>

  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">31</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">32</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">33</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">34</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">35</div>
  </div>
  <div class="col-12 md:col-2 lg:col-2">
    <div class="box">36</div>
  </div>
  </div>